
{% extends 'main.html' %}
{% load static %}

{% block content %}





<section class="facility-section">
    <div class="facility-content">
        <h2>Choose Your Healthcare Facility</h2>
        <button class="facility-btn">King Faisal Specialist Hospital & Research Centre</button>
        <button class="facility-btn">Dr. Sulaiman Al Habib Medical Group</button>
        <button class="facility-btn">Prince Sultan Military Medical City</button>
    </div>
    <div class="facility-image">
        <img src="{% static 'img/doctor.jpg' %}" alt="Doctor" />
    </div>
</section>





{% endblock %}